.body-css{
    background-color: blueviolet;
}
.card div{
    background-color: blueviolet; 
}
.footer-clss{
    background-color: rgb(60, 5, 110);
   
}
.div-modal div{

 background-color: rgb(60, 5, 110);
}
.class-body{
    background-color: blueviolet;  
}




 

